/* You can add global styles to this file, and also import other style files */
body {
	background: #eee !important;	
}

/*margin-bottom*/
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }

/*margin-top*/
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }

button:disabled, button:disabled:hover {
    background: #a7a2a2 !important;
    cursor: default !important;
}

/* Add a hover effect for buttons */

button:not([disabled]):hover {
	opacity: 0.8 !important;
}

/* Errors styling section */

.input-error {
	border-color: red !important;
}

.input-error-text {
	color: red;
	padding-right: 5px;
	margin-top: -10px;
}




/* Full-width inputs */

input[type=text], input[type=password] {
	width: 100%;
	
	
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 4px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}