<div class="signin-form-wrapper">
  <form class="signin-form" [formGroup]="signinForm">
    <div>
      <h1 class="half-title">כניסה למערכת</h1>
    </div>
    <div class="container">
      <label for="uname"><b>שם משתמש</b></label>
      <input type="text" (keyup)="clearValidations('username');" formControlName="username" placeholder="הקלד שם משתמש"
        name="uname" [class.input-error]="!usernameValid" />
      <div *ngIf="!usernameValid" class="input-error-text">
        יש להזין שם משתמש
      </div>
      <label for="psw"><b>סיסמא</b></label>
      <input type="password" (keyup)="clearValidations('password');" formControlName="password" placeholder="הקלד סיסמא"
        name="psw" [class.input-error]="!passwordValid" />
      <div *ngIf="!passwordValid" class="input-error-text">
        חובה להזין סיסמא בת 8 תווים
      </div>

      <p appTextColor>test</p>



      <button type="submit" (click)="submit()">התחבר</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> זכור אותי במחשב זה
      </label>
    </div>

    <div class="container" style="display: inline-block; padding: 0;">
      <div>
        <span class="psw">שכחתם את הסיסמא? <a [routerLink]="'forgotPassword'">לחצו כאן</a></span>
      </div>
      <div>
        <span class="psw">עדיין לא רשומים? <a [routerLink]="'signup'">לחצו כאן</a></span>
      </div>
    </div>
  </form>
</div>