body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box
}

.step-content-wrapper {
    text-align: right;
    direction: rtl;
    min-height: 580px;
    max-height: 580px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.signup-form-wrapper ul {
    padding: 0;
}

.signup-form {
    direction: rtl;
    margin: 0 auto;
}

input[type=text], input[type=password] {
    padding: 15px;
    margin: 5px 0 10px 0;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* Add padding to container elements */

.container {
    padding: 16px;
}

/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.step-btn {
    border-radius: 4px;
    width: 20%;
}

.details-summary {
    display: -webkit-box;
}

.field-icon {
    margin-right: 10px;
}

.psw-summary-container {
    display: flex;
    align-items: center;
}

.psw-summary-input {
    border: none;
}