<!-- <div class="signup-form-wrapper">
    <form class="signup-form" [formGroup]="signupForm">
      <div class="container">
        <h1>הרשמה למערכת</h1>
        <p>נא למלא את השדות וללחוץ על כפתור ההרשמה על מנת להירשם למערכת.</p>
        <hr>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>
        
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    
        <div class="clearfix">
          <button type="button" class="cancelbtn">Cancel</button>
          <button type="submit" class="signupbtn">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
   -->

<aw-wizard navBarDirection="right-to-left">
  <aw-wizard-step stepTitle="פרטי התחברות" [canExit]="step1Complete()">
    <div class="step-content-wrapper">
      <form class="signup-form" [formGroup]="signupDataForm">
        <div class="container">
          <h1>פרטי התחברות</h1>
          <p>חובה למלא את כל הפרטים כדי לעבור לשלב הבא</p>
          <hr>

          <label for="uname"><b>שם משתמש</b></label>
          <input type="text" [(ngModel)]="newUser.username" formControlName="username" placeholder="בחר שם משתמש" name="uname"
            [class.input-error]="signupDataForm.get('username').invalid && signupDataForm.get('username').touched" />
          <div *ngIf="signupDataForm.get('username').invalid && signupDataForm.get('username').touched" class="input-error-text">
            חובה לבחור שם משתמש
          </div>
          <label for="psw"><b>סיסמא</b></label>
          <input type="password" [(ngModel)]="newUser.password" formControlName="password" placeholder="בחר סיסמא" name="psw"
            [class.input-error]="signupDataForm.get('password').invalid && signupDataForm.get('password').touched" />
          <div *ngIf="signupDataForm.get('password').invalid && signupDataForm.get('password').touched" class="input-error-text">
            חובה להזין סיסמא באורך 8 תווים לפחות
          </div>


          <label for="psw-repeat"><b>הקלד סיסמא שוב</b></label>
          <input type="password" formControlName="confirmPassword" placeholder="הקלד סיסמא שוב" name="psw-repeat"
            [class.input-error]="signupDataForm.hasError('notSame') && signupDataForm.get('confirmPassword').touched" />
          <div *ngIf="signupDataForm.hasError('notSame') && signupDataForm.get('confirmPassword').touched" class="input-error-text">
            סיסמא לא תואמת
          </div>
          <!-- <label>
              <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label> -->

          <!-- <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p> -->

          <!-- <div class="clearfix">
              <button type="button" class="cancelbtn">Cancel</button>
              <button type="submit" class="signupbtn">Sign Up</button>
            </div> -->
        </div>
      </form>
    </div>
    <div class="step-btns-container">
      <button type="button" class="step-btn" (click)="step1Complete();" [disabled]="signupDataForm.invalid" awNextStep>
        <i class="fa fa-arrow-left"></i> הבא </button>
    </div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="פרטים אישיים" awOptionalStep>
    <div class="step-content-wrapper">
      <form class="signup-form" [formGroup]="personalDetailsForm">
        <div class="container">
          <h1>פרטים אישיים</h1>
          <!-- <p>חובה למלא את כל הפרטים כדי לעבור לשלב הבא</p> -->
          <hr>

          <label for="fname"><b>שם פרטי</b></label>
          <input type="text" [(ngModel)]="newUser.firstName" formControlName="firstName" placeholder="שם פרטי או כינוי"
            name="fname" [class.input-error]="personalDetailsForm.get('firstName').invalid && personalDetailsForm.get('firstName').touched" />
          <div *ngIf="personalDetailsForm.get('firstName').invalid && personalDetailsForm.get('firstName').touched"
            class="input-error-text">
            חובה להזין שם פרטי או כינוי
          </div>

          <label for="lname"><b>שם משפחה</b></label>
          <input type="text" [(ngModel)]="newUser.lastName" formControlName="lastName" placeholder="שם משפחה" name="lname" />

          <label for="email"><b>דוא"ל</b></label>
          <input type="text" [(ngModel)]="newUser.email" formControlName="email" placeholder="אימייל" name="email"
            [class.input-error]="personalDetailsForm.get('email').hasError('notEmail') && personalDetailsForm.get('email').touched" />
          <div *ngIf="personalDetailsForm.get('email').hasError('notEmail') && personalDetailsForm.get('email').touched"
            class="input-error-text">
            נא להזין כתובת מייל תקינה
          </div>

          <label for="email"><b>יד משחקת</b></label><br>
          <label class="radio-inline" for="rightHanded">
            ימין<input type="radio" [(ngModel)]="newUser.rightHanded" formControlName="rightHanded" name="rightHanded"
              value="true" checked>
          </label>&nbsp;
          <label class="radio-inline" for="rightHanded">
            שמאל<input type="radio" [(ngModel)]="newUser.rightHanded" formControlName="rightHanded" name="rightHanded"
              value="false">
          </label>

        </div>
      </form>
    </div>
    <div class="step-btns-container">
      <button type="button" class="step-btn float-right" awPreviousStep>הקודם <i class="fa fa-arrow-right"></i></button>
      <button type="button" class="step-btn" (click)="step2Complete();" [disabled]="personalDetailsForm.invalid"
        awNextStep><i class="fa fa-arrow-left"></i> הבא </button>
    </div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="אישור והרשמה">
    <div class="step-content-wrapper">
      <div class="container">
        <h1>אישור והרשמה</h1>
        <p>נא לבדוק את נכונות הפרטים וללחוץ על כפתור ההרשמה</p>
        <hr>
        <div class="details-summary">
          <div class="col-sm-2">
            <label><b>שם פרטי:</b></label>
          </div>
          <div class="col-sm-10">
            {{newUser.firstName}}
          </div>
        </div>
        <div class="details-summary">
          <div class="col-sm-2">
            <label><b>שם משפחה:</b></label>
          </div>
          <div class="col-sm-10">
            {{newUser.lastName}}
          </div>
        </div>
        <div class="details-summary">
          <div class="col-sm-2">
            <label><b>שם משתמש:</b></label>
          </div>
          <div class="col-sm-10">
            {{newUser.username}}
          </div>
        </div>
        <div class="details-summary psw-summary-container">
          <div class="col-sm-2">
            <label><b>סיסמא:</b></label>
            <span (click)="togglePassword();" class="fa fa-fw fa-eye field-icon"></span>
          </div>
          <div class="col-sm-10">
            <input type="password" class="psw-summary-input" name="psw" id="psw-summary" value="{{newUser.password}}"
              #pswSummary>
          </div>
        </div>
        <div class="details-summary">
          <div class="col-sm-2">
            <label><b>דוא"ל:</b></label>
          </div>
          <div class="col-sm-10">
            {{newUser.email}}
          </div>
        </div>
        <div class="details-summary">
          <div class="col-sm-2">
            <label><b>יד משחקת:</b></label>
          </div>
          <div class="col-sm-10">
            {{newUser.rightHanded}}
          </div>
        </div>
      </div>
    </div>
    <div class="step-btns-container">
      <button type="button" class="step-btn float-right" awPreviousStep>הקודם <i class="fa fa-arrow-right"></i></button>
      <button type="button" class="step-btn" (click)="register()" awNextStep><i class="fa fa-check" aria-hidden="true"></i>
        אישור
        והרשמה
      </button>
    </div>
  </aw-wizard-step>
  <aw-wizard-completion-step stepTitle="סיום">
    <div class="step-content-wrapper">
      <div class="container">
        <h1>אישור והרשמה</h1>
        <p>נא לבדוק את נכונות הפרטים וללחוץ על כפתור הרשמה</p>
        <hr>
        <div class="container" style="display: inline-block; padding: 0;">
          {{ message$ | async}}
          <div>
            <span class="psw">עדיין לא רשומים? <a [routerLink]="'signup'">לחצו כאן</a></span>
          </div>
        </div>
      </div>
    </div>
  </aw-wizard-completion-step>
</aw-wizard>